   html, body {
                background-color: #339966;
                color: #bbb;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 90px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
            li, .links > a {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #C6DAB9;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                float: left;
                border-right: 1px solid white;
                /*border-left: 1px solid white;*/
            }
        
           
            li a, .links > a {
                display: block;
                color: #499273;
                text-align: center;
                padding: 16px 12px;
                text-decoration: none;
                text-transform: uppercase
            }
        
            .links :hover {
                background-color: white;
            }
            #links :hover{
                background-color:white;
            }
            
            #content {
                 top: 0px;
                margin: 0px;
                width: 880px;
                background-color: transparent;
                padding: 0px;
            }
            #title{
                color:white !important;
            }

            IMG{
                position:absolute; 
                TOP:0px;
                LEFT:100px; 
                WIDTH:400px; 
                HEIGHT:85px;
            }

            @media(max-width: 500px) {
                IMG {
                    visibility:hidden;
                }
            }


            @media(max-width: 500px) {
                IMG {
                    visibility:hidden;
            }
        }  
          